.gallery-page {
  &__headline {
    @include font_alegreya_bold();
    color: #4d4d4d;
    font-size: 2.25rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    padding-bottom: 2rem;
    text-align: center;
  }

  &__wrapper {
    .tab-button {
      min-width: 100px;
      max-width: 130px;
    }
  }

  .gallery-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &__title {
      @include font_alegreya_bold();
      color: #4d4d4d;
      font-size: 1.75rem;
      line-height: 1.25;
      text-align: center;
      text-rendering: optimizeLegibility;
      padding-bottom: 1.5rem;
    }

    &__container {
      box-shadow: 0 0 10px 3px $grey_light;

      position: relative;
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 100%;
        //right: 0;

      }
    }

    &__buttons {
      display: flex;
      justify-content: space-evenly;
      padding-top: 1.5rem;
    }
  }

  .gallery-menu {
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    &__button {
      display: flex;
      flex: 0 1 100%;
      justify-content: center;
      margin: 0;
      padding: 3px 5px;

      &.active {
        background-color: $green;
        border-radius: 3px;
      }
    }
  }
}