.gallery-page {
  &__headline {
  }

  &__wrapper {
    .tab-button {
      min-width: 100px;
      max-width: 130px;
    }
  }

  .gallery-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &__title {
      @include font_alegreya_bold();
      color: #4d4d4d;
      font-size: 1.75rem;
      line-height: 1.25;
      text-align: center;
      text-rendering: optimizeLegibility;
      padding-bottom: 1.5rem;
    }

    &__container {
      box-shadow: 0 0 10px 3px $grey_light;
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 100%;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-evenly;
      padding-top: 1.5rem;
    }
  }

  .gallery-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    &__button {
      display: flex;
      flex: 0 1 auto;
      justify-content: center;
      margin: 0;
      padding: 3px 5px;

      &.active {
        background-color: $green;
        border-radius: 3px;
      }
    }
  }
}