/*============================
        HOME PAGE
==============================*/
.home-page {
  &__section {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;

    img {
      width: 100%;
      height: auto;
    }

    .swiper-container {
      background-color: #f2f2f2;

      img {
        object-fit: cover;
      }
    }

    iframe {
      padding-bottom: 20px;
    }
  }

  &__section-title {
    padding-bottom: 20px;
  }

  &__media {
    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }

    & > * {
      box-shadow: 0 0 5px 1px #ccc;
    }
  }
}