$white: #ffffff;
$black: #000000;

$grey_lighter: #ecf0f1;
$grey_light: #bdc3c7;
$grey_dark: #7f8c8d;
$grey_darker: #404040;

$green_light: #2ecc71;
$green: #27ae60;

$blue: #2980b9;
$blue_dark: #34495e;

$red: #e74c3c;

