.file_uploader_wrapper {
  .uploader_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: auto;
    }
  }

  .image_upload_container {
    position: relative;
    height: 300px;

    img {
      height: 100%;
    }

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      background: $green_light;
      color: $white;
      border: 1px solid white;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: $green;
      }
    }
  }
}